@tailwind base;

*,
*::before,
*::after {
  @apply box-border antialiased;
  font-family: 'Montserrat', sans-serif;
}
body {
  @apply bg-gray-100 m-0 p-0 w-full h-full;
}

h1 {
  @apply text-4xl text-gray-900 font-bold;
}

h2 {
  @apply text-3xl text-gray-900 font-bold;
}

a {
  @apply no-underline cursor-pointer;
}
a:hover,
a:active {
  @apply underline;
}
button a:hover {
  @apply no-underline;
}

@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;
